* {
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
}

.container {
    display: flex;
    background-color: black;
    font-family: 'Bitter', serif;
    align-items: center;
}

.logo {
    color: white;
    font-size: 40px;
    display: flex;
    /* display: fixed; */
    background-color: red;
    padding: 10px 30px;
}

.blankSpace {
    padding: 100px;
}

.mainMargin {
    margin-left: 10px;
}

main {
    width: auto;
    height: 90%;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    text-align: center;
    display: flex center;
}

p,
ul {
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 231, 255);
    font-size: 20px;
    padding: top 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
    border: solid white 0.5px;
    padding: 0.5px;
    font-family: 'Space Mono', monospace;
}

button {
    height: 40px;
    width: 50px;
    background-color: red;
    border-style: none;
}

#main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(145, 132, 230);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#search_box {
    background-color: white;
    border-style: none;
    color: black;
    width: 500px;
    height: 40px;
}

#search_bar {
    display: flex;
    flex-direction: row;
}

#list {
    list-style-type: none;
    color: white;
    text-align: right;
    width: 100%;
    margin-right: 15px;
}

#header_links {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#cart {
    background: none;
}

.invert {
    filter: invert();
}

#small_list {
    list-style: none;
}

#list2 {
    list-style-type: none;
    color: white;
    text-align: right;
    width: 100%;
    margin-right: 15px;
}

#main_row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%
}

#cart2 {
    background: none;
}

#small_list2 {
    list-style: none;
}


/* header paragraph declarations */

h1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    height: 45px;
    color: rgb(82, 188, 211);
}

footer.h2 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-align: center;
    height: 45px;
    color: rgb(82, 188, 211);
}

h2.food {
    text-shadow: 2px 2px;
    color: rgb(246, 65, 237)
}


/* footer declarations */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* animation */

p,
ul {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}